
#app {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        min-width: 75%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }
}

body {
    background-color: lightGray
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: #f1f1f1;
    color: #ccc;
}

h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

a.refresh-game {
    color: #009CFF;
    text-decoration: none;
    cursor: pointer;
}

.text-score {
    border-color: #26abff;
    border-style: solid;
    min-width: 35px;
    text-align: center;
    color: #0F5132;
    padding: 0.5em;
}

.life-icon {
    padding: 0.15em;
}

.life-icon.survive {
    color: red;
}

.life-icon.death {
    color: black;
}